body {
    font-family: Arial, sans-serif;
    background-color: #181818;
    color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.img-min{
  width: 150px;
}

.image{
  text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    gap: 50px;
    max-width: 800px;
}

.video-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.image-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.video-container video, .image-container img {
    border: 2px solid #ff4d4d;
    border-radius: 8px;
}

button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 120px;
    margin: 5px;
}

button:hover {
    background-color: #ff3333;
}